<!-- <mat-sidenav-container class="example-container" >
    <mat-sidenav mode="side" opened></mat-sidenav>
    <mat-sidenav-content id="box-3">

        <div id="bars">
            <div class="bar1">
                <img src="../../../../../assets/white-bar.png" alt="">
            </div>
            <div id="centerBar" class="bar1">
                <img src="../../../../../assets/white-bar.png" alt="">
            </div>
              
            <div class="bar1">
                <img src="../../../../../assets/white-bar.png" alt="">
            </div>
        </div>
        
          
        <div id="logo">
            <img src="../../../../../assets/logo.png" alt="">
        </div> 
          

        <div id="button-container">



        </div>
        
        </mat-sidenav-content>
  </mat-sidenav-container>
  
  
  
  <!-- Copyright 2020 Google LLC. All Rights Reserved.
      Use of this source code is governed by an MIT-style license that
      can be found in the LICENSE file at http://angular.io/license --> 


      
      <header class="sidebar">
          <div class="side-bar-flex">
            <div class="side-bar-logo">
                <div class="bar1">
                    <img src="../../../../../assets/white-bar.png" alt="">
                </div>
                <div class="bar1">
                    <img src="../../../../../assets/white-bar.png" alt="">
                </div>
                 <div class="bar1">
                    <img src="../../../../../assets/white-bar.png" alt="">
                </div>

                <img src="../../../../../assets/logo.png" alt="">
        </div>
        <div class="side-bar-controls">
            <ul matBadge="4" matBadgeOverlap="false">

                <li  ><a mat-stroked-button href=""><i ></i>&nbsp; My Teams</a></li>
                <li><a mat-stroked-button href=""><i ></i>&nbsp; Daily Checks</a></li>
                <li><a  mat-stroked-button href=""><i ></i>&nbsp; Impact</a></li>
                <li><a mat-stroked-button href=""><i ></i>&nbsp; Details</a></li>
                <li><a  mat-stroked-button href=""><i ></i>&nbsp; Bonus Bounties</a></li>
                <li><a mat-stroked-button href=""><i ></i>&nbsp; Settings</a></li>
                

            </ul>
        </div>
        
       
        <div class="sidebar-bottom-style">
              
        </div>
          </div>
       <img class="footer-image" src="../../../../../assets/sidebar-footer.PNG" alt="">

    </header>