<!-- <div class="main">hello</div> -->


<div class="main">

    <div class="dashboard-container-heading">
        <h1 >Daily Checks</h1>
        <h1>Leader Boards</h1>
    </div>    
    
    <div  class="dashboard-container">
    
        <div class="daily-checks" >
    
            <div class="carousel-header"></div>
    
            <carousel class="carousel-container"   [height]="450" [cellWidth]="400" [width]="400" [dots]="true" [arrows]="false"
            >
                <div class="carousel-cell">
                   
                </div>
                <div class="carousel-cell">
                   
                </div>
                <div class="carousel-cell">
                   
                </div>
               
            
            </carousel>
            <div class="carousel-action-panel" >
                <button  mat-raised-button color="primary">Adjust</button>
                <button  mat-raised-button color="primary" disabled="true">AllGood</button>
            </div>
            
    
    </div>
        
        <div class="leader-boards">
            <app-data-grid></app-data-grid>
        </div>
       
        </div>
    </div>
    