.carousel-container{
    margin-left: 153px !important;
    width: none !important;
    max-width: 100% !important;
    padding-top: 57px;
}
.carousel-cell{
    width: 400px !important;
    height: 426px;
    border :solid 1px
    
}
.carousel-cells{
    width: 426px !important;
}


.mat-button, .mat-raised-button{
    background-color:#F88F1E;
    height: 50px;
    width: 163px;
    margin-right: 91px;
    z-index: 1;
    margin-left:80px;
    background-color: #F88F1E;
    height: 50px;
    width: 163px;
    margin-right: -147px;
    z-index: 1;
    margin-left: 192px;
} 

.carousel-dots ng-star-inserted{
    bottom: 8px !important;
    left: 133px !important;
    position: absolute;
    right: 154px !important;
    text-align: center;
    z-index: 10;


}


.carousel-dots ng-star-inserted{
    border:  2px solid #bd9a9a! important;
    background: #d6d6d6;
}
