
  <header class="header">
   
    <ul id="gothere-header">
      <li><mat-form-field class="example-form-field">
        <mat-label>There is a new Bounty waiting for you!</mat-label>
        <input matInput type="text" >
      </mat-form-field>
    </li>

      <li><button class="gothereButton" mat-raised-button color="primary">Go There</button></li>
    </ul>
    
    
    
    <ul id="user-menu">
      <li><a >55</a></li>
      <li><img src="../../../../../assets/header-logo.png" alt=""></li>
      <li><a >Jeff Stone</a></li>
      <li><a >
       <div class="profile-pic-header" >
         <img src="../../../../../assets/user-profile-pic.png" alt="">
       </div>  
        
        
      </a></li>
      <li> <img src="../../../../../assets/logout-icon.png">  </li>

    </ul>

</header>