/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: YourFontFamily;
    src: url("./assets/AEH.ttf") format("truetype");
}
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: "Raleway";
    box-sizing: border-box;
    font-family:  Avenir-Heavy;
    
  }
  *body{display: flex;
flex-direction: column;
}

/***************************/
  /****sidebar css start *******/
  .sidebar{

    position: fixed;
    left: 0;
    width: 230px;
    height: 100vh;
    background-image: url("./assets//sidebar.png");
    
}
.side-bar-flex{
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: center;
}

.sidebar ul li a{
    display: block;
    color: white;
    line-height: 60px;
  
   
}
.sidebar ul li {
    margin-left:10px
}
.footer-image{
    position: fixed;
    bottom:0;
    width:230px;
    height:160px;
}

.main{
    padding-top: 38px;
    padding-right: 38px;
}
/***************************/
  /****header css start *******/

.header{
    display: flex;
    
    height: auto;
        width: 100%;
    align-items: center;
    justify-content: space-between;

}
.header ul {
color:black;
height:auto;
    
    display: flex;
}
#logo{
    color:white;
    margin:0 auto
}
#gothere-header{
   
}
#gothere-header li{
    padding:10px
}
#user-menu{
}
#user-menu li{
    padding:10px

}

/***************************/
  /****main-dashboard css start *******/

.dashboard-container{
display: flex;
border-top: 1px solid
}

.dashboard-container-heading{
    
    display: flex;
    justify-content: space-between;
    margin-top: 121px;
}
.dashboard-container-heading h1{
    
    color: #393939;
}
.daily-checks{
    height: 500px;
    width: 50%;
    background: white;
    border-right: 2px solid;
    height: 614px;
    
}
.leader-boards{
    background: white;
    height: 500px;
    width: 50%;
}
.root-main{
    margin-left:230px;
    overflow: hidden;
}


.mat-raised-button{

    background: #F88F1E;
}

.profile-pic-header{
   
  
}
.profile-pic-header img{
    height: 40px;
    width: 40px;
    border-radius: 20px;
}

.sidebar-bottom-style{


}

.side-bar-logo{
    padding-top: 115px;
    padding-left: 48px;
    display: flex;
}
.side-bar-controls li {
    width:202px;
    height: 44px;
    background: white;
    margin-bottom:13px;
    border-radius: 9px;

}
.side-bar-controls li a {
    color: black;
}

.bar1{
    display:inline-block
}

.mat-stroked-button{

  border: 0px solid currentColor !important;
  color: black !important;
  padding: 0px;
  text-align: left !important;

}

.corousel-box{
    
}